@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@font-face {
  font-family: "Digital-7";
  src: url("./assets/Digital-7 Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(27, 20, 42);
  margin-top: 0;
  margin-bottom: 0;
  margin: 0 auto;
  height: 90%;
  width: 90%;
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 13px solid black;
  /* overflow-y: hidden; */
}

.song-list-container {
  max-width: 400px;
}

#song-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.player-container {
  /* width: 90vw; */
  width: 360px;
  height: 800px;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  gap: 1em;
  position: relative; 
  /* top: 10vh; */
  /* margin-top: 55px; */
  margin-bottom: 55px;
  border: 3px solid black;
}

.player-image {
  width: 100%;
  display: block;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 4px 16px black;
}

.lcd-display {
  position: absolute;
  top: 6%;
  left: 10%;
  /* transform: translateX(-50%); */
  width: 75%;
  height: 13%;
  min-width: 200px;
  min-height: 3em;
  background: #222;
  color: white;
  font-family: "Digital-7", monospace, Arial, sans-serif;
  font-size: 1em;
  border-radius: 8px;
  border: 2px solid black;
  text-align: center;
  box-shadow: 0 0 10px black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.3em 0;
  margin-bottom: 0.5em;
  z-index: 2;
}

.status-display {
  font-size: 0.7em;
  color: rgb(177, 33, 4);
}

#audioPlayer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50.5%;
  transform: translateX(-50%);
  height: 5%;
  width: 85%;
  border-radius: 8px;
  background: #fff;
  border: 2px solid black;
  box-shadow: 0 2px 8px black;
  pointer-events: auto;
}

button {
  background-color: #110910;
  border: solid;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 22px;
  color: white;
  font-weight: bold;
  border-color: black;
  margin-top: 10px;
  width: 75vw;
  max-width: 300px;
}

/* Song list specific button styling */
#song-list button {
  width: 100%;
  max-width: none;
  margin: 0;
  font-size: 16px;
  padding: 8px 16px;
}

.fancy-script {
  font-family: "Great Vibes", cursive;
  font-size: 7vh;
  color: #dfe7ef;
  text-shadow: 1px 1px 2px rgb(17, 16, 16), 0 0 1em rgb(24, 24, 25),
    0 0 0.2em rgb(17, 17, 19);
  margin-top: 1em;
  text-align: center;
}

/* Playlist selector styling */
#playlist-selector {
  background: #333;
  color: white;
  border: 1px red;
  border-radius: 4px;
  padding: 5px;
  font-family: "Digital-7", monospace, Arial, sans-serif;
  font-size: 0.8em;
  width: 100%;
  margin-top: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

#playlist-selector option {
  background: #333;
  color: purple;
  padding: 5px;
  text-align: center;
}

#playlist-selector:focus {
  outline: none;
  box-shadow: 0 0 5px grey;
}

/* SoundCloud container styling */
#soundcloud-container {
  position: absolute;
  top: 96%;
  left: 0%;

  width: 85%;
  height: 16px;
  border-radius: 8px;
  border: 2px solid grey;
  box-shadow: 0 2px 8px grey;
  transform: scale(0.5);
  overflow: hidden;
}

#soundcloud-widget {
  border-radius: 6px;
}

@media (max-width: 500px) {
  .lcd-display {
    font-size: 1.2em;
  }
  .player-container {
    min-width: 0;
  }
}

#pic80s {
  padding-top: 45%;


}